/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  text-align: center;
  padding: 40px 0 20px;
}

header h1 {
  font-size: 32px;
  font-weight: bold;
}

/* Container */
.Auth-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form {
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  width: 350px;
  text-align: center;
  backdrop-filter: blur(10px);
}

form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
}

form button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover {
  background: #333;
}

form p {
  margin-top: 15px;
  font-size: 14px;
}

form p a {
  color: #5500ff;
  text-decoration: none;
  font-size: 18px;
}

form p a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  text-align: center;
  padding: 15px;
  font-size: 14px;
  opacity: 0.8;
  margin-top: auto; /* giúp footer luôn nằm dưới cùng */
}
